<div class="grid grid-cols-3 gap-4" [style.height]="availHeight+ 'px'">
    <div class="flex flex-col bg-white p-4 rounded-lg shadow-md gap-2 overflow-y-auto">
        <div class="flex items-center justify-between">
            <h5>Asesores</h5>
            <div class="input input-sm w-fit">
                <span class="icon-[tabler--search] text-base-content/80 my-auto me-3 size-4 shrink-0"></span>
                <label class="sr-only" for="table-column-actions-search"></label>
                <form [formRoot]="searchForm">
                    <input class="grow" type="search" placeholder="Search for items" id="table-column-actions-search"
                        [formField]="searchForm.query" />
                </form>
            </div>
        </div>
        @for (item of resource.value()!.results; track $index) {
        <ng-container [ngTemplateOutlet]="advisor" [ngTemplateOutletContext]="{ $implicit: item }"></ng-container>

        }
    </div>
    <div class="col-span-2 bg-white p-4 rounded-lg shadow-md">
        @if (asesor()) {
        <div class="flex items-center gap-4 mb-2">
            <div class="avatar">
                <div class="size-32 rounded-md">
                    <img [src]="asesor()?.avatar" alt="avatar" />
                </div>
            </div>
            <div class="flex flex-col grow">
                <h5 class="text-3xl font-semibold">{{asesor()!.advisor.alias}}</h5>
                <p class="text-gray-600 text-sm">{{asesor()!.language.join(', ')}}</p>
                <p>{{asesor()!.advisor.category}}</p>
            </div>
            <div class="mr-10">
                <span class="text-4xl">{{asesor()!.rateAvg}}</span>
                <span class="icon-[tabler--star-filled] size-8 text-yellow-300 ms-1"></span>
            </div>
        </div>
        <div class="flex justify-evenly">
            <div class="flex item-center gap-1">
                <span class="icon-[tabler--message] size-8 ms-1"></span>
                {{asesor()?.advisor!.chatPrice | currency}}/min
            </div>
            @if(asesor()?.advisor!.enabledCall) {
            <div class="flex items-center gap-1">
                <span class="icon-[tabler--phone] size-8 ms-1"></span>
                {{asesor()?.advisor!.callPrice | currency}}/min
            </div>
            }
        </div>
        <p class="section-title">Experiencia</p>
        <p>{{asesor()!.advisor.experience}}</p>
        <p class="section-title">Descripción</p>
        <p>{{asesor()!.advisor.description}}</p>
        <p class="section-title">Comentarios</p>
        }
    </div>
</div>


<ng-template #advisor let-user>
    <div class="flex items-center gap-3 p-3 bg-white rounded-lg border border-gray-300 shadow-sm hover:shadow-md transition-shadow cursor-pointer"
        (click)="asesor.set(user)">
        <div class="avatar avatar-online-bottom">
            <div class="size-10 rounded-full">
                <img [src]="user.avatar" [alt]="user.name" />
            </div>
        </div>

        <!-- Info del Usuario -->
        <div class="flex-1 min-w-0">
            <div class="flex items-center justify-between">
                <h3 class="text-sm font-medium text-gray-800 truncate">
                    {{ user.advisor.alias }}
                </h3>
            </div>

            <!-- Metadata -->
            <div class="flex items-center text-[11px] text-gray-400 mt-0.5">
                <span>{{ user.advisor.category }}</span>
            </div>
        </div>

        <span class="flex items-center text-gray-800 text-sm">
            {{user.rateAvg}}
            <span class="icon-[tabler--star-filled] size-4.5 text-yellow-300 ms-1"></span>
        </span>

    </div>
</ng-template>